.app {
  background-color: #f1f2f5;
}
.app__body{
  display: flex;
}
@media only screen and (max-width: 768px) {
  .app__bodySidebar{
    display:none;
  }
  .app__bodyWidgets{
    display: none;
  }
  
}